.main {
    margin: 5% 7%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: left;
    justify-content: space-between;
    font-family: 'Jost', sans-serif;
}

.main__novocliente{
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
}

.pesquisa-tabela{
    height: 30px;
}

.cliente {
    margin: 5% 10%;
    margin-top: 80px;
    display: flex;
    gap: 30px;
    align-items: left;
    justify-content: space-between;
    font-family: 'Jost', sans-serif;
}

.cliente__informacoes__saldo {
    font-size: 22px;
}

.cliente__informacoes__contato {
    margin-top: 60px;
}