.main {
    margin: 5% 7%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: left;
    justify-content: space-between;
    font-family: 'Jost', sans-serif;
}

.main__novocliente {
    width: 120px;
    height: 37px;
    margin-bottom: 10px;
}

.pesquisa-tabela{
    height: 30px;
}