
<h1>{{ cliente.nome }}</h1>
<a href="{{ url_for('cliente_editar', id=cliente.id) }}">Editar</a>
<a href="{{ url_for('cliente_excluir', id=cliente.id) }}">Excluir</a>

<h3>Informações de contato:</h3>
<ul>
    <li>Telefone: {{ cliente.telefone }}</li>
    <li>E-mail: {{ cliente.email }}</li>
</ul>

<h3>Lançamentos realizados:</h3>
<a href="{{ url_for('lancamento_novo', id=cliente.id) }}">Novo Lançamento</a>
<table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Observação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for lancamento in lancamentos %}
            <tr>
                <td>{{ lancamento.data }}</td>
                <td>{{ lancamento.valor }}</td>
                <td>{{ lancamento.observacao }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
</table>

<h3>Pagamentos realizadas:</h3>


<a href="/clientes">Voltar</a>
