
<a href="{{ url_for('cliente_novo') }}">Novo Cliente</a>
<a href="/">Voltar</a>

<table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Saldo Devedor</th>
                <th>Incluir</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ url_for('cliente_detalhes', id=cliente.id) }}">{{ cliente.nome }}</a></td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.saldo }}</td>
                <td><a href="{{ url_for('lancamento_novo', id=cliente.id) }}">Lançamento</a>
                <a href="{{ url_for('pagamento_novo', id=cliente.id) }}">Pagamento</a></td>
            </tr>
        {% endfor %}
        </tbody>
</table>
