{% extends "template.html" %}
{% block conteudo %}

<h3>Total a receber:</h3>
<p>{{ valores_a_receber }}</p>

<h3>Principais Devedores:</h3>
<table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Saldo Devedor</th>
            </tr>
        </thead>
        <tbody>
            {% for devedor in devedores%}
            <tr>
                <td>{{ devedor.nome }}</td>
                <td>{{ devedor.saldo }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<h3>Pagamentos realizados nos últimos 30 dias:</h3>
<table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            {% for pagamento in ultimos_pagamentos%}
            <tr>
                <td>{{ pagamento.data }}</td>
                <td>{{ pagamento.valor }}</td>
                <td>{{ pagamento.clientes.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<h3>Lançamentos realizados nos últimos 30 dias:</h3>
<table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            {% for lancamento in ultimos_lancamentos%}
            <tr>
                <td>{{ lancamento.data }}</td>
                <td>{{ lancamento.valor }}</td>
                <td>{{ lancamento.clientes.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

{% endblock %}