{% extends "template.html" %}
{% block conteudo %}
<div class="total_receber">
    <p>Total a receber:</p>
    <p>R$ {{ '{:,.2f}'.format(valores_a_receber|float) | replace('.', 'm') | replace(',', '.') | replace('m', ',') }}</p>
</div>

<h3>Principais Devedores:</h3>
<table class="table table-striped table-bordered table-hover table-dash">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Saldo Devedor</th>
            </tr>
        </thead>
        <tbody>
            {% for devedor in devedores%}
            <tr>
                <td>{{ devedor.nome }}</td>
                <td>R$ {{ '{:,.2f}'.format(devedor.saldo|float) | replace('.', 'm') | replace(',', '.') | replace('m', ',') }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<h3>Pagamentos realizados nos últimos 30 dias:</h3>
<table class="table table-striped table-bordered table-hover table-dash">
        <thead class="thead-dark">
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            {% for pagamento in ultimos_pagamentos%}
            <tr>
                <td>{{ pagamento.data.strftime('%d/%m/%Y') }}</td>
                <td>R$ {{ '{:,.2f}'.format(pagamento.valor|float) | replace('.', 'm') | replace(',', '.') | replace('m', ',') }}</td>
                <td>{{ pagamento.clientes.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<h3>Lançamentos realizados nos últimos 30 dias:</h3>
<table class="table table-striped table-bordered table-hover table-dash">
        <thead class="thead-dark">
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            {% for lancamento in ultimos_lancamentos%}
            <tr>
                <td>{{ lancamento.data.strftime('%d/%m/%Y') }}</td>
                <td>R$ {{ '{:,.2f}'.format(lancamento.valor|float) | replace('.', 'm') | replace(',', '.') | replace('m', ',') }}</td>
                <td>{{ lancamento.clientes.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

{% endblock %}