<h1>Caderninho - Gestão de pequenas cobranças</h1>

<ul>
    <li><a href="/cliente-novo">Cadastrar Cliente</a></li>
    <li><a href="/clientes">Lista de Clientes</a></li>
</ul>

<h3>Total a receber:</h3>
<p>{{ valores_a_receber }}</p>

<h3>Principais Devedores:</h3>
<table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Saldo Devedor</th>
            </tr>
        </thead>
        <tbody>
            {% for devedor in devedores%}
            <tr>
                <td>{{ devedor.nome }}</td>
                <td>{{ devedor.saldo }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>





<h3>Clientes inadimplentes:</h3>

<h3>Pagamentos realizados nos últimos 30 dias:</h3>

<h3>Lançamentos realizados nos últimos 30 dias:</h3>