{% extends "template.html" %}
{% block conteudo %}

<form action="{{ url_for('lancamento_atualizacao') }}" method="post">

    <h3>{{ lancamento.clientes.nome }}</h3>
    <h4>Editar Lançamento</h4>

    <input type="hidden" name="id" value="{{ lancamento.id }}">
    <input type="hidden" name="cliente_id" value="{{ lancamento.id_cliente }}">

    <div class="form-group">
        <label class="texto" for="data">Data do Lançamento: </label>
        <input class="form-control" type="date" id="data" name="data" value="{{ lancamento.data }}">
    </div>

    <div class="form-group">
        <label class="texto" for="valor">Valor: </label>
        <input class="form-control" type="number" step=".01" min="0.01" id="valor" name="valor" value="{{ lancamento.valor }}">
    </div>

    <div class="form-group">
        <label class="texto" for="observacao">Descrição: </label>
        <input class="form-control" type="text" id="observacao" name="observacao" value="{{ lancamento.observacao }}">
    </div>
    <button class="btn btn-success" type="submit">Cadastrar</button>
    <a class="btn btn-danger" href="{{ url_for('cliente_detalhes', id=lancamento.id_cliente) }}">Voltar</a>
</form>

{% endblock %}